
Unity Game Scripting Project/.vs/

Unity Game Scripting Project/Library/

Unity Game Scripting Project/UserSettings/

Unity Game Scripting Project/.vsconfig

Unity Game Scripting Project/Logs/
